* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    padding-top: 90px;
}


.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 15px;
    z-index: 10;
    text-align: center;
}

.nav h1 {
    color: #4da3ff;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-title {
    color: white;
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.menu i {
    width: 18px;
    height: 18px;
    color: white;
}


.hero {
    text-align: center;
    margin: 40px 0;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #9b9696;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: darkblue;
}


form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.empresas {
    background-color: #757575;
    border-radius: 10px;
    width: 90%;
    height: 300px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(15, 15, 15);
}


.parceiros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.parceiros img {
    width: 100px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}
